.choicer {
  display: block;
  padding: 0 5px;
  min-width: 120px;
  box-sizing: border-box;
  height: 40px;
  cursor: pointer;
  text-align: center;
  font: 12px Tahoma;
  line-height: 40px;
  cursor: pointer;
  border-width: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
}

.choicer:hover {
  background-color: #27ae60;
}
    
.fileloader {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileloader:disabled + .choicer {
  background-color: black;
}