.textInput_shower {
  padding: 5px;
  height: 42px;
  text-align: center;
  display: block;
  box-sizing: border-box;
  line-height: 32px;
  width: 150px;
}
.textInput {
  height: 42px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  width: 150px;
}